.devcontainer/
.git/
.idea/
.scribe/
node_modules/
vendor/
coverage/
tests/
gitleaks/
dashboards/
.env
.env*
Dockerfile.*
docker-compose.*
package*json
.gitlab-ci.yml
*.pem
*.key
.deptrac.cache
_ide_helper.php
.phpunit.result.cache
frankenphp
deptrac*yaml
phpstan*neon
yaml-template.awk
phpunit*
